<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - Registro</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro/main.css') }}">
</head>
<body>
    
{% include 'header/header.html' %}
{% block content %}

    <main class="principal"> 
        <section class="principal__conteudo">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Hey {{ name }} {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <div class="titulo">
                <h1>
                    Crie sua conta
                </h1>
            </div>

            <section class="navega">
                <div class="formularios">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="formularios-unico">   
                            {{ form.nome.label }}
                            {{ form.nome }}
                        </div> 
                        <div class="formularios-unico">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div> 
                        <div class="formularios-unico">
                            {{ form.telefone.label }}
                            {{ form.telefone }}
                        </div>
                        <div class="formularios-unico">
                            {{ form.CPF.label }}
                            {{ form.CPF }}
                        </div>
                        <div class="formularios-unico">
                            {{ form.data_nasc.label }}
                            {{ form.data_nasc }}
                        </div>
                        <div class="formularios-enviar">
                            {{ form.enviar(class="formularios-enviar-botao botao1") }}
                        </div>    
                    </form>
                </div>
                <div class="imagens">
                    <img class="imagens-formato" src="{{url_for('static', filename = 'img/cachorrowilly.jpeg')}}">
                </div>
            </section>
        </section>
    </main>
{% endblock %}
{% include 'footer/footer.html' %}