<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tinder de Adoção</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
</head>

<body>

    <div class="container">
        <h1>Tinder de Adoção</h1>
        <div id="card-container">
            <div class="card" id="current-card" data-current-id="1">
                <img src="../static/img/cachorro-sorri.jpeg" alt="Foto do animal" />
                <h2>Nome</h2>
                <p>Descricao</p>
            </div>
        </div>
        <div class="actions">
            <button id="passar" class="btn">Passar</button>
            <a href="#">Voltar</a>
            <button id="gostei" class="btn btn-primary">Gostei</button>
        </div>
    </div>
    <script src="../static/js/likeOrDislike.js"></script>
</body>

</html>