<link rel="stylesheet" href="{{url_for('static', filename='css/footer/footer.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/vars/vars.css')}}">

<footer class="rodape">
<section class="rodape__container">
    <div class="rodape__identifica">
        <h3 class="rodape__identifica-texto">MiauMigos - 2024</h3>
    </div>
    <div class="rodape__contato">
        <h3 class="rodape__contato-titulo">Contato</h3>
        <p class="rodape__contato-texto">Telefone: (11) 9999-9999</p>
        <p class="rodape__contato-texto">Email: bicho@bol.com</p>
    </div>
</section>
</footer>