<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MiauMigos - Atualizar {{ current_user.nome }}</title>
<link
rel="shortcut icon"
href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}"
/>
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/atualizar_usuario/main.css') }}"
/>
</head>
<body>
{% include 'header/header.html' %} {% block content %}

<main class="principal">
<section class="principal__conteudo">
{% for message in get_flashed_messages() %}
<div
class="alert alert-success alert-dismissible fade show float-message"
role="alert"
>
{{ message }}
<button
type="button"
class="btn-close"
data-bs-dismiss="alert"
aria-label="Close"
></button>
</div>
{% endfor %}

<form action="/atualizar_usuario/{{atualizacao.ID_usuario}}" method="POST">
{{ form.hidden_tag() }} {{ form.nome.label }}<br />
{{ form.nome(value=atualizacao.nome) }}
<br />

<div class="formularios-unico">
{{ form.email.label }}<br />
{{ form.email(id="email", value=atualizacao.email) }} {% if form.email.errors %}
<div class="alert alert-danger">
{% for error in form.email.errors %}
<p>{{ error }}</p>
{% endfor %}
</div>
{% endif %}
</div>

<div class="formularios-unico">
{{ form.telefone.label }}<br />
{{ form.telefone(id="telefone", value=atualizacao.telefone
,onkeyup="formatarTelefone(this)") }} {% if form.telefone.errors %}
<div class="alert alert-danger">
{% for error in form.telefone.errors %}
<p>{{ error }}</p>
{% endfor %}
</div>
{% endif %}
</div>

<div class="formularios-unico">
{{ form.data_nasc.label }}<br />
{{ form.data_nasc(id = data_nasc, value = atualizacao.data_nasc,
readonly="readonly", class="readonly")}}
</div>

<div class="formularios-unico">
{{ form.CPF.label }}<br />
{{ form.CPF(id="cpf", value=atualizacao.CPF, readonly="readonly",
class="readonly") }}
</div>

<!-- Campos para nova senha (opcional) -->
<p>Alteração de senha</p>
{{ form.senha }}
<br />

<p>Confirmação de alteração de senha</p>
{{ form.senha2 }}
<br />
<!-- Campo obrigatório: senha atual -->
<label for="senha_atual">Senha Atual</label><br />
<input type="password" name="senha_atual" id="senha_atual" required />
<br />
{{ form.enviar }}
</form>
</section>
<script src="{{ url_for('static', filename = 'js/atualizar_usuario/atualizar_usuario.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</main>

{% endblock %} {% include 'footer/footer.html' %}
</body>
</html>
