:root {
    --fonte-titulo: "Protest Strike", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
    --cor-de-fundo: #fdeecd;
    --cor-cabecalho: #ea8676;
    --cor-de-fora: #eab05e;
    --cor-borda: #493831;
}