@import url(../vars/vars.css);
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');



.cabecalho {
    display: flex;
    justify-content: space-between;      
    align-items: center;
    background-color: var(--cor-cabecalho); 
    /* background: linear-gradient(27deg, rgba(238,74,74,1) 0%, rgba(234,134,118,1) 45%, rgba(207,46,37,1) 92%); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 1.4rem;
}

.cabecalho__inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__imagem {
    width: 3rem;
}

.cabecalho__tag {
    text-decoration: none;
}

.cabecalho__titulo {
    font-family: var(--fonte-titulo);
    font-weight: 100;
    cursor: pointer;
    color:black ;
    transition: 0.4s;
}

.cabecalho__titulo:hover {
    color: #333333
}
.cabecalho__login {
    display: flex;
    gap: 1rem;
}

.cabecalho__login__link {
    margin-right: 1.2rem;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    text-decoration: none;
    color: black;
} 

.botao {
    border: 1px solid brown;  
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: brown;
  color: white;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1.5px 3px, rgba(0, 0, 0, 0.23) 0px 1.5px 3px;
}

.botao:hover {
    background-color: var(--cor-de-fundo);
    color: black; 
    border: 1px solid brown
}

@media (max-width:600px) {
    .cabecalho {
        padding-top: 1rem;
        width:100%;
        display: flex;
        flex-direction: column;
    }
}
