@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal {
    background-color: var(--cor-de-fora);
    min-height: 100vh;
    padding: 2rem 0;
}

.principal__conteudo {
    width: 90%;
    margin: 0 5rem;
    background-color: var(--cor-de-fundo);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 1.6rem;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2rem;
    color: brown;
}

.formularios {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    flex-direction: column;
    gap: 1.5rem;
}

.toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.toggle-option {
    padding: 1rem 2rem;
    background: #e6e6e6;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}

input[name="tipo_conta"] {
    display: none;
}

input[name="tipo_conta"]:checked + .toggle-option {
    background: #ffcccb;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.formularios-unico {
    font-family: var(--fonte-secundaria);
    padding-bottom: 1rem;
}

.formularios-unico label {
    font-weight: bold;
    color: brown;
}

.formularios-unico select,
.formularios-unico input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 0.5rem;
}

.formularios-enviar {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.formularios-enviar-botao {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1.5px 3px, rgba(0, 0, 0, 0.23) 0px 1.5px 3px;
    background-color: brown;
}

.formularios-enviar-botao:hover {
    background-color: var(--cor-de-fundo);
    color: black; 
    border: 1px solid brown;
}

.imagens {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagens-formato {
    width: 27rem;
    height: 37.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5%;
}

.navega {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10rem;
}

@media (max-width: 600px) {
    .titulo {
        padding-top: 1rem;
    }

    .navega {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagens-formato {
        width: 15rem;
        height: 15rem;
    }

    .formularios {
        gap: 1rem;
    }
}
