<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/main.css') }}">
</head>
<body>
    
{% include 'header/header.html' %}

{% block content %}
    <main class="principal"> 
        <section class="principal__conteudo">
            <div class="titulo">
                <h1>
                    Acesse sua conta
                </h1>
            {% if email %}
                {{verifica_senha}}
            {% endif %}
            </div>
                <section class="navega">
                    <div class="formularios">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="formularios-unico">   
                                {{ form.email.label }}
                                {{ form.email }}
                            </div>
                            <div class="formularios-unico">   
                                {{ form.senha.label }}
                                {{ form.senha }}
                            </div>
                            <div class="formularios-enviar">
                                {{ form.enviar(class="formularios-enviar-botao botao1") }}
                            </div>      
                        </form>
                    </div>
                    <div class="imagens">
                        <img class="imagens-formato" src="{{url_for('static', filename = 'img/gatorita.png')}}">
                    </div>          
        </section>
        <div class="paraRegistro">
            <p>Não tem uma conta? <a class="paraRegistro-formato" href="/registro">Registre-se aqui</a></p>
        </div>
    </main>
</body>    
{% endblock %}
{% include 'footer/footer.html' %}