<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - Registro</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro/main.css') }}">
</head>
<body>
    
{% include 'header/header.html' %}
{% block content %}
    <main class="principal"> 
        <section class="principal__conteudo">
            <div class="titulo">
                <h1>
                    Crie sua conta
                </h1>
            </div>
            <div>
                <form method="POST">
                    {{ form.hidden_tag() }}

                    {{ form.nomeUsuario.label }}
                    {{ form.nomeUsuario }}
                    <br>
                    {{ form.email.label }}
                    {{ form.email }}
                    <br>
                    {{ form.senha.label }}
                    {{ form.senha }}
                    <br>
                    {{ form.enviar }}
                </form>
            </div>
        </section>
    </main>
{% endblock %}
{% include 'footer/footer.html' %}