<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miaumigos - Bicho</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfil_bicho/main.css')}}">
    <script src="{{url_for('static', filename='js/carregar_partes.js')}}"></script>
</head>
<body>

    <div id="header"></div>
    
    <main class="principal">
        <section class="principal__conteudo">
            <div class="principal__topo">
                <img src="{{url_for('static', filename='img/dog_example04.jpeg')}}" alt="Imagem do animal" class="principal__topo-imagem">
                <div class="principal__topo-dados">
                    <h1 class="principal__topo-dados-titulo">Nome do animal</h1>
                    <ul class="principal__topo-lista">
                        <li class="principal__topo-elemento">
                            <p>Raça</p>
                        </li>
                        <li class="principal__topo-elemento">
                            <p>Localização</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <nav class="informacoes">
            <section class="principal__conteudo"> 
                <div class="informacoes_topico">
                    <h2>Característica</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis commodi quibusdam aut molestiae nemo voluptate delectus, corporis autem voluptatibus.</p>
                </div>
                <div class="informacoes_topico">
                    <h2>Característica</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis commodi quibusdam aut molestiae nemo voluptate delectus, corporis autem voluptatibus.</p>
                </div>
                <div class="informacoes_topico">
                    <h2>Característica</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis commodi quibusdam aut molestiae nemo voluptate delectus, corporis autem voluptatibus.</p>
                </div>
                <div class="informacoes_topico">
                    <h2>Característica</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste facilis commodi quibusdam aut molestiae nemo voluptate delectus, corporis autem voluptatibus.</p>
                </div>
            </section>
            <section class="principal__conteudo">
                <h1 class="informacoes_galeria-titulo">Fotos</h1>
                <div class="informacoes_galeria">
                     
                        <img src="{{url_for('static', filename='img/dog_example04.jpeg')}}" alt="Imagem do animal" class="informacoes_galeria-imagem">
                        <img src="{{url_for('static', filename='img/dog_example05.jpeg')}}" alt="Imagem do animal" class="informacoes_galeria-imagem">
                </div>
            </section>
        </nav>
    </main>
    
    <div id="footer"></div>

</body>
</html>