<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - Início</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page/main.css')}}">
</head>
<body>
    
{% include 'header/header.html' %}

{% block content %}

<main class="principal">
    <section class="principal__conteudo">
        <div class="principal__noticias">
            <h2 class="principal__noticias-titulo">Notícias da semana</h2>
        </div>
        <div class="principal__manchete">
            <img class="principal__manchete-imagem" src="{{url_for('static', filename = 'img/cachorro.jpeg')}}" alt="Cachorro">
            <p class="principal__manchete-texto">Cachorro da raça isbrabauls deitado com a lingua pra fora urgente!!! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, quasi doloremque! Nihil, voluptas! Asperiores temporibus facere aut cum aliquam architecto?</p>
        </div>
        <div class="principal__acoes">    
            <div class="principal__Bicho">
                <img class="principal__cadastroBicho-imagem" src="{{url_for('static', filename = 'img/gato-sorri.png')}}" alt="Gato">
                <h2 class="principal__cadastroBicho-texto">Cadastre um bichinho</h2>
            </div>
            <div class="principal__Bicho">
                <img class="principal__cadastroBicho-imagem" src="{{url_for('static', filename = 'img/cachorro-sorri.jpeg')}}" alt="Cachorro">
                <h2 class="principal__cadastroBicho-texto">Adote um bichinho</h2>
            </div>
        </div>        
    </section>
</main>

{% endblock %}

{% include 'footer/footer.html' %}
    
</body>
</html>