<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - {{ erro }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erro/main.css') }}">
</head>
<body>

{% include 'header/header.html' %}
{% block content %}

    <main>
        <h1>Seu erro é {{ erro }}</h1>
    </main>

{% endblock %}
{% include 'footer/footer.html' %}