<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiauMigos - {{ erro }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erro/main.css') }}">
    <style>
        main {
            text-align: center;
            margin-top: 50px; 
        }
        img {
            max-width: 22%; 
            height: auto; 
            margin-top: 20px; 
        }
    </style>
    
</head>
<body>

{% include 'header/header.html' %}
{% block content %}

    <main>
        <h1> ERRO {{ erro }} (Página não existe) </h1>
        <img src="{{url_for('static', filename = 'img/gatocao.png')}}" alt="Página não encontrada">
    </main>

{% endblock %}
{% include 'footer/footer.html' %}