@import url('../vars/vars.css');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');


* {
    padding: 0;
    margin: 0;
}

.principal {
    background-color: var(--cor-de-fora);
}

.principal__conteudo {
    margin: 0 5%;
    background-color: var(--cor-de-fundo);
    padding-bottom: 20rem;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: large;
    font-weight: lighter;
    text-align: center;
}

.formularios {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.formularios-unico {
   display: grid;
   font-family: var(--fonte-secundaria);
   padding-bottom: 1rem;
}

.formularios-enviar {
    padding-top: 1rem;
    display: flex;
    justify-content: center;


}

.formularios-enviar-botao {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
} 

.botao1{
    background-color: brown;
    color: white;
    border: 1px solid brown;
}

.botao1:hover {
    background-color: var(--cor-de-fundo);
    color: black; 
    border: 1px solid brown;
}

.imagens {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.imagens-formato {
    width: 20rem;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5%;


}

.navega {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10rem;
}

.paraRegistro{
    font-family: var(--fonte-titulo);
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.paraRegistro-formato{
    text-decoration: none;
    color: brown;
    transition: 0.4s;
}

.paraRegistro-formato:hover{
    color: red;   
}

@media (max-width:600px) {
    .titulo {
        padding-top: 1rem;
    }
    
    .navega {
        display: flex;
        flex-direction: column;
    }

    .imagens-formato {
        width: 15rem;
        height: 15rem;
    }
}