<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usuario.username }} - Perfil</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_miaumigos_icone.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios/main.css')}}">
    <script src="{{url_for('static', filename='js/carregar_partes.js')}}"></script>
</head>
<body>


    <div id="header"></div>

    <main class="principal">
        <section class="principal__conteudo">
            <div class="principal__perfil">
                <div class="principal__perfil-foto">
                    <img src="{{ usuario.avatar }}" alt="foto do perfil" class="principal__perfil-foto-imagem">
                </div>
                <div class="principal__perfil-dados">
                    <h2 class="principal__perfil-dados-titulo">{{usuario.username}}</h2>
                    <p class="principal__perfil-dados-texto">Email: {{usuario.email}}</p>
                    <p class="principal__perfil-dados-texto">Contato: {{usuario.phone}}</p>
                    <p class="principal__perfil-dados-texto">Endereço: {{usuario.adress}}</p>
                </div>
            </div>
            <nav class="principal__bichos">
                <h2 class="principal__bichos-titulo">Bichos para adoção</h2>
                <div class="principal__bichos__catalogo">
                    {% for animal in animais[:6] %}
                    <div class="principal__bichos__catalogo-item">
                        <img src="{{animal.imagem}}" alt="Imagem do pet" class="principal__bichos__catalogo-foto">
                        <div class="principal__bichos__catalogo-informacoes">
                            <p class="principal__bichos__catalogo-texto">Nome: {{ animal.nome }}</p>
                            <p class="principal__bichos__catalogo-texto">Idade: {{ animal.idade }}</p>
                            <p class="principal__bichos__catalogo-texto">Sexo: {{ animal.sexo }}</p>
                            <p class="principal__bichos__catalogo-texto">Porte: {{ animal.porte }}</p>
                            <p class="principal__bichos__catalogo-texto">Descrição: {{ animal.descricao }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </nav>
        </section>
        
    </main>

    <div id="footer"></div>

</body>