@import url(../vars/vars.css);

.rodape {
    background-color: var(--cor-de-fora);
    padding-top: 1rem;
}

.rodape__container {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}

.rodape__identifica-texto {
    font-family: var(--fonte-titulo);
    font-weight: 200;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rodape__imagem {
    padding-top: 0.5rem;
}

.rodape__imagem-formato {
    width: 4rem;
    height: 3.5rem;
}
.rodape__contato {
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    padding: 1px;
}


